@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8f8;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

li {
  list-style: none;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::selection {
  background-color: black;
  color: #ffffff;
}
